
html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}


body {
    height: 100%;
    background-color: #ffffff;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}


    body form {
        margin: 0px 0px 0px 50px;
        padding: 0;
        border: none;
    }


html,
body,
form,
button,
input,
select,
textarea {
    color: #595959;
    font-size: 1em;
    font-family: Arial, san-serif;
}

div {
    padding: 5px 50px 5px 50px;
    color: #595959;
    font-family: arial;
    font-size: 1em;
}

fieldset legend {
    color: #595959;
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
}

.contentArea {
    border: solid 2px #999999;
    text-align: left;
    overflow: hidden;
    padding: 0px;
    width: 90%;
    margin: 0px;
}

.example {
    margin-bottom: 20px;
}

.code {
    font-family: courier;
    font-size: 1em;

}
