<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--SOAP API URL format is https"[BaseURL]/ws/[CustomerAlias]/[CustomerDatabaseAlias]-->
    <add key="VaultApiUrl" value="https://demo.visualvault.com/ws/Demo/Default/" />

    <!--User Interface URL format is https"[BaseURL]/v1/[language]/[CustomerAlias]/[CustomerDatabaseAlias]-->
    <add key="VaultUiURL" value="https://demo.visualvault.com/v1/en/Demo/Default/" />
    
    <add key="VVUserID" value="AdminUserId" />
    <add key="VVPassword" value="" />
    <add key="ImpersonatedUserId" value="user1" />
    <add key="ImpersonateAuthenticatedUser" value="True" />
    <add key="ForceAuthentication" value="True" />
    <add key="VerboseLogging" value="True" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="https://demo.visualvault.com/vvlogin.aspx" defaultUrl="https://demo.visualvault.com/vvlogin.aspx" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
    <location path="StartHere.aspx.cs">
        <system.webServer>
            <defaultDocument>
                <files>
                    <add value="starthere.aspx" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>